@keyframes slideright {
    from{
        background-position: 50000%;
    }
    to {
        background-position: 0%;
    }
}

#desert {
    position: absolute;
    background-image: url("beach_background.png");
    height: 200px;
    width: 100%;
    animation: slideright 600s infinite linear;
    bottom: 0;
}

#alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.sasha {
    background-image: url("sasha.png");
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 0;
}

.obstacle {
    background-image: url('sand_castle.png');
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
}
body {
    background-color: #87cefa;
}